
body{
    background-image: url("file:///C:/Users/nany_/Desktop/desarrollo_%20web/Recetario/recetas/cocina.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-color: salmon;
    width: auto;
    margin:center;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

.caja-texto{
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
    



h1{
    color: rgb(7, 97, 7);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}
   
#listado {
    list-style-image: url(file:///C:/Users/nany_/Desktop/desarrollo_%20web/Recetario/recetas/vi%C3%B1eta.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 4.0;
    font-size: 30px;  
} 

.imagen {
    border-radius: 10px;
    border-color: brown;
    border-width: 5px;
    border-style: double;
    width: 500px;
    height: auto;
    float: right   
}

p{
    text-align: justify;
    color: black;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

ul{
    text-align: justify;
    color: black;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


   
